.merck__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 400px;
}


@media(min-width:768px){
    .merck__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

@media(min-width:768px){
    .merck__content{
        grid-column: 1 / 3;
    }

    .merck__content_img{
        grid-column: 3 / 4;
    }
}

.merck__content{
    background-color: #f2f2f2;
    padding: 2rem;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.merck__content::after{
    content: "";
    background-color: rgba(214, 86, 149, 1);
  
    height:80px;
    width: 80px;
    display: block;
    border-radius: 60px;

    right: 0;
    top: -35px;
    left: 0;
    margin: auto;
    position: absolute;

    background-image: url(https://i.postimg.cc/QxQVWnMm/Mujericono-90x90.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;

}

@media(min-width:768px){
    .merck__content::after{
        top: -50px;
        height:110px;
        width: 110px;
    }
}

.merck__content  h3 {
    margin-top: 30px;
    font-size: 1rem;
    text-align: center;
    font-family: "Segoe UI", Arial, sans-serif;
    line-height: 1.4;
}

@media(min-width:768px){
    .merck__content  h3 {
        margin-top: unset;
        font-size: 1.2rem;
    }
}

.merck__content  span {
    font-weight: bold;
}

/*Centrado de form*/
.merck__input_content{
    width: 80%;
    margin: 0 auto;
}

@media(min-width:768px){
    .merck__input_content{
        width: 50%;
    }
}

.merck__input{
    margin: 35px 0 ;
}


/*Selecionar*/

.input_select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
   /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#f7f7f7 50%);*/
    background-image: url(https://i.postimg.cc/cHwygm35/FLECHA-grisoscuro.png);
    
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;

    font-size: 1.2rem;
    font-family: "Segoe UI", Arial, sans-serif;

    border-radius: 15px;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
   
    max-width: 100%; 
    box-sizing: border-box;

    color:#C1B3B3;
    border:none;

    cursor: pointer;
    position:relative;
}

@media(min-width:768px){
    .input_select{
        font-size: 1.5rem;
   
    }
}

  .input_select::-ms-expand {
    display: none;
  }

  .input_select:focus {
        border-color: rgba(111, 39, 162, .7);
        -webkit-box-shadow: 0 0 1px 1px rgba(111, 39, 162, .7);
        -moz-box-shadow: 0 0 1px 1px rgba(111, 39, 162, .7);
        box-shadow: 0 0 1px 1px rgba(111, 39, 162, .7);
        box-shadow: 0 0 0 1px -moz-mac-focusring;
        color: #222; 
        outline: none;

        background-image: url(https://i.postimg.cc/7Yx0wQ0F/FLECHA-VERD.png);
  
  }

  .input_select option {
 
    font-weight:normal;
    background-color: rgba(111, 39, 162, 1);
    color:#fff;
    font-size: 2rem !important;
    font-family: "Segoe UI", Arial, sans-serif;

    -webkit-border-bottom-right-radius: 35px;
    -webkit-border-bottom-left-radius: 35px;
    -moz-border-radius-bottomright: 35px;
    -moz-border-radius-bottomleft: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;

  }


 



 

  /*btn*/
  .merck__input_button{
        text-align: center;
  }

  .merck__input_button button{
        position: relative;

        font-size: 1.3rem;
        border-radius: 15px;
        background-color: #D65695;
        color:#fff;
        outline: none;

        font-weight: bold;
        font-family: "Segoe UI", Arial, sans-serif;

        -webkit-transition: background 0.3s 0s ease-in-out;
        -moz-transition: background 0.3s 0s ease-in-out;
        -o-transition: background 0.3s 0s ease-in-out;
        transition: background 0.3s 0s ease-in-out;
  }

  .merck__input_button button:hover {
    background-color: #f72a8d;

  }

  .merck__input_button [type=button]:focus, [type=submit]:focus, button:focus {
    outline: none !important;
  }

  .merck__input_button img{
      margin-left: 5px;
  }


.merck__content_img  {
    max-width: 100%;
  /*  background-image: url(http://localhost/wpPlugin01/wp-content/uploads/2022/04/01.jpg);
    background-repeat: no-repeat;
    background-size: contain;*/
}


/*Sweet alert */

.swal2-html-container {
    font-size: .8rem !important;
}


@media(min-width:768px){
    .swal2-html-container {
        font-size: .9rem !important;
    }
}


/*Elimiando de sweet alert*/

.swal2-styled.swal2-default-outline:focus {
    box-shadow: none !important;
}
